<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40012093-26"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-40012093-26');
    </script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="AI Ethicd" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="img/thumbnail.png" />
    <title>AI Ethics</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/@directus/sdk-js@5.3.4/dist/directus-sdk.umd.min.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/kwv5eho.css">
    <link href="css/styles.css" rel="stylesheet">
</head>
<header class="gl-header">

    <a class="govlab-logo" href="index.html">
        AI Ethics: <span id="title-id">Global Perspectives</span>
    </a>
    <div class="menu">
        <a href="modules.html">MODULES</a>
        <a href="instructors.html">INSTRUCTORS</a>
        <a href="index.html#partners">PARTNERS</a>
        <a id="contribute" href="contribute.html">PROPOSE A MODULE</a>
    </div>
</header>

<body>
    <div class="hero">
        <h1>AI Ethics: Global Perspectives</h1>
        <p>How to Govern and Manage the Use of Data and Artificial Intelligence Ethically?</p>
    </div>
    <div class="main-button top-btn">
        <a class="btn" href="#videos">Watch the Videos</a>

    </div>

    <div id="home-page">
        <div class="row intro">


            <div class="col desc">

                <div class="col-txt" v-html="indexData[0].intro_text">

                </div>
            </div>

        </div>



        <div class="separator">
            <h2>Learn from leading experts</h2>
        </div>

        <div class="grid experts">
            <ul>
                <li v-for="faculty in peopleData"><span id="headshot" v-if="faculty.headshot"><img v-bind:src="faculty.headshot.data.thumbnails[3].url"></span><span id="expert-name">{{faculty.name}}</span>{{faculty.title}},
                    {{faculty.organization}}</li>
            </ul>
        </div>



<div class="separator">
    <h2>Partners</h2>
</div>
<div id="partners" class="white-section">

    <div class="logo-section">
        <div class="logo-row">
            <div v-for="supporter in supporterData" class="logo-col">
                <a><img v-bind:src="supporter.logo.data.thumbnails[3].url"></a>
            </div>

        </div>

    </div>
</div>
</div>
    
</body>
<footer>
    <img src="img/cc-logo.png">
    <p>This work is licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
            Attribution-ShareAlike 4.0 International License</a>.</p>
    <!-- <p id="privacy"><a href="privacy.html">Privacy Policy</a> and <a href="terms.html">Terms of Use</a>.</p> -->
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
<script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/ai-ethics.js"></script>

</html>