<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C0QWHF7NRK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-C0QWHF7NRK');
    </script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="AI Ethics: Global Perspectives is a free, online course designed to raise awareness and help institutions work toward a more responsible use of AI. It brings together leading experts in the field of AI from around the world to consider ethical ramifications of AI and rectify initiatives that might be harmful to particular people and groups in society." />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="AI Ethics: Global Perspectives" />
    <meta property="og:description"
        content="AI Ethics: Global Perspectives is a free, online course designed to raise awareness and help institutions work toward a more responsible use of AI. It brings together leading experts in the field of AI from around the world to consider ethical ramifications of AI and rectify initiatives that might be harmful to particular people and groups in society." />
    <meta property="og:image" content="img/thumbnail.png" />
    <meta property="og:image" content="https://aiethicscourse.org/img/thumbnail.png" />
    <meta property="twitter:image" content="https://aiethicscourse.org/img/thumbnail.png" />
    <title>AI Ethics: Global Perspectives</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/kwv5eho.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/@directus/sdk-js@5.3.4/dist/directus-sdk.umd.min.js"></script>
    <link href="css/styles.css" rel="stylesheet">
</head>
<header class="gl-header">
    <a class="govlab-logo" href="index.html">
        AI Ethics: <span id="title-id">Global Perspectives</span>
    </a>
    <div class="menu">
        <a href="modules.html">MODULES</a>
        <a href="instructors.html">INSTRUCTORS</a>
        <a href="webinar-series.html">Webinar Series</a>
        <a href="partners.html">PARTNERS</a>
        <a href="contact.html">REGISTER HERE</a>
    </div>
</header>

<body>
    <div id="home-page">
    <div class="heading panels">
        <h1>Instructor Panels</h1>
    </div>
    <div class="panel-page" v-for="about_panel in aboutData">
    
        <div v-if="about_panel.name_id == 'instructor-panel'" v-html="about_panel.description">

        </div>
    </div>
    <div class="heading panel-sub panels">
        <h1>Upcoming Panels</h1>
    </div>

    
        <div class="panel-page">
            <p v-for="(event,index) in eventsData" v-if="event.date < currentDate && index==eventsData.length">No upcoming events</p>
            <div class="event-item" v-for="(event,index) in eventsData"
                v-if="event.status =='published' && event.date >= currentDate">
                
                <div class="event-title">
                    <h2>{{event.title}}</h2>
                </div>
                <div class="event-date">
                    <i class="material-icons">insert_invitation</i>
                    <p>&nbsp{{dateShow(event.date)}}</p>
                </div>
                <div class="event-date">
                    <i class="material-icons">schedule</i>
                    <p>&nbsp{{event.event_time}}</p>
                </div>
                <div class="event-short-description">
                    <div v-if="!event.extended" v-html="event.short_desc"></div>
                </div>
                <div class="event-long-description">

                    <div v-if="event.extended && event.description" v-html="event.description"></div>
                    <div class="event-link">
                        <a v-if="!event.extended && event.description" @click="showDesc(event)"
                            class="event-button read-more" target="_blank"> Read More <i
                                class="material-icons">keyboard_arrow_down</i></a>
                        <a v-if="event.extended" @click="showExc(event)" class="event-button read-more" target="_blank">
                            Read Less<i class="material-icons">keyboard_arrow_up</i></a>
                        <a :href="event.registration_link" class="event-button">Sign up now!</a>
                    </div>
                </div>

            </div>

        </div>
        <div class="heading panel-sub panels">
            <h1>Previous Panels</h1>
        </div>
        <div class="panel-page">
            <div class="recording-row">
            <div class="recording-item" v-for="event in eventsData" v-if="event.date < currentDate"
                >
                <div class="recording-img">
                    <img v-if="event.thumbnail" class="project-img" :src="event.thumbnail.data.full_url">
                </div>
                <div class="recording-body">
                    <div class="recording-title">
                        <h4>{{event.title}}</h4>
                    </div>
                    <div class="recording-panelists">
                        <span v-for="(panelist,index) in event.panelists"><a
                            :href="'instructors.html#'+panelist.people_id.slug">{{panelist.people_id.name}}</a><span
                            v-if="index != event.panelists.length-1">,&nbsp</span></span>
                    </div>
                    <div class="recording-date">
                        <i class="material-icons">insert_invitation</i>
                        <p>&nbsp{{dateShow(event.date)}}</p>
                    </div>
                    <!-- <div class="recording-short-description">
                        <div  v-html="event.short_desc"></div>
                    </div> -->
                    <div class="recording-button">
                    <a :href="event.video_link" class="event-button" target="_blank">
                        Watch the video</a>
                    <a :href="event.blog_link" class="event-button">Read the blog</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="separator">
            <h2>Partners</h2>
        </div>
        <div id="partners" class="white-section">
            <div v-html="indexData[0].partner_section_text">

            </div>
            <div class="logo-section">
                <div class="logo-row">
                    <div v-for="supporter in supporterData" class="logo-col">
                        <a v-if="supporter.url" :href="supporter.url"><img
                                v-bind:src="supporter.logo.data.thumbnails[3].url"></a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>
<footer>
    <!-- <a href="pledge.html"><img id="covid-pledge" src="img/cropped-OCP_WP_logo_240x240.png"></a> -->
    <img src="img/cc-logo.png">
    <p>This work is licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
            Attribution-ShareAlike 4.0 International License</a>.</p>
    <!-- <p id="privacy"><a href="privacy.html">Privacy Policy</a> and <a href="terms.html">Terms of Use</a>.</p> -->
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
<script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://momentjs.com/downloads/moment-timezone-with-data.js"></script>
<script src="js/ai-ethics.js"></script>

</html>