<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-40012093-26"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-40012093-26');
</script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="AI Ethics: Global Perspectives is a free, online course designed to raise awareness and help institutions work toward a more responsible use of AI. It brings together leading experts in the field of AI from around the world to consider ethical ramifications of AI and rectify initiatives that might be harmful to particular people and groups in society." />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="AI Ethics: Global Perspectives" />
    <meta property="og:description" content="AI Ethics: Global Perspectives is a free, online course designed to raise awareness and help institutions work toward a more responsible use of AI. It brings together leading experts in the field of AI from around the world to consider ethical ramifications of AI and rectify initiatives that might be harmful to particular people and groups in society." />
    <meta property="og:image" content="img/thumbnail.png" />
    <title>AI Ethics: Global Perspectives</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/kwv5eho.css">
    <link href="../css/styles.css" rel="stylesheet">
    <script src="https://unpkg.com/@directus/sdk-js@5.3.4/dist/directus-sdk.umd.min.js"></script>
</head>
<header style="padding-top:30px;" class="gl-header">
    <a class="govlab-logo" href="../index.html">
        <img src="../img/the-govlab-logo-blue.png" alt="The GovLab">
    </a>
    <div class="menu">
        <a href="../modules.html">MODULES</a>
        <a href="../instructors.html">INSTRUCTORS</a>
        <a href="../partners.html">PARTNERS</a>
        <a id="contribute" href="../contribute.html">CONTRIBUTE A LECTURE</a>
    </div>
</header>

<body>
    <div id="home-page">
    <div class="mod-video">
        <h1>{{lectureData[0].title}}</h1>
        <a id="inst-link" href="../instructors.html">By <span v-for="faculty_item in lectureData[0].faculty">{{faculty_item.faculty_junction_id.name}}</span></a>
        <p>{{lectureData[0].description}}</p>

        <div class="row vid-desc">

            <div class="col video">
                <div class="video-container">
                    <iframe class="video-frame" :src="'https://www.youtube.com/embed/'+lectureData[0].video_url_identifier" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="main-button">
     
        <a v-if="lectureData[0].lecture_transcript"class="btn btn1" :href="lectureData[0].lecture_transcript.data.full_url">Download Transcript</a>
        <a class="btn btn2" href="../index.html#videos">Watch Other Modules</a>
    </div>
    <div style="margin-bottom:20px" class="grid">
        <div class="row module">

            <div class="col desc module">
                <h2>Read, Watch, and Listen</h2>
                <ul>
                    <li v-for="reading in lectureData[0].readings"><a :href="reading.reading_junction_id.source_link">{{reading.reading_junction_id.title}}</a>, {{reading.reading_junction_id.citation}}</li>
                </ul>
            </div>

        </div>
    </div>





<div class="separator">
    <h2>Partners</h2>
</div>
<div id="partners" class="white-section">
    <div  v-html="indexData[0].partner_section_text">
        
    </div>
    <div class="logo-section">
        <div class="logo-row">
            <div v-for="supporter in supporterData" class="logo-col">
                <a><img v-bind:src="supporter.logo.data.thumbnails[3].url"></a>
            </div>

        </div>

    </div>
</div>
</div>
</body>
<footer>
    <!-- <a href="../pledge.html"><img id="covid-pledge" src="../img/cropped-OCP_WP_logo_240x240.png"></a> -->
    <img src="../img/cc-logo.png">
    <p>This work is licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
            Attribution-ShareAlike 4.0 International License</a>.</p>
    <!-- <p id="privacy"><a href="privacy.html">Privacy Policy</a> and <a href="terms.html">Terms of Use</a>.</p> -->
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
<script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>

<script src="../js/lecture.js"></script>


</html>